@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table>
    <thead>@Model.Name</thead>
    @foreach (var customers in )
    {
  
    }
    <tr>
        <td></td>
    </tr>
</table>

